<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include("../layout/head",{ title: "管理者" }); %>
    </head>
    <body>
        <header>
            <%- include("../layout/header"); %>
        </header>
        <main>
            <div class="container">
                <div class="card mb-4">
                    <h5 class="card-header">ユーザー</h5>
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= userCount %>人</h5>
                        <a href="/admin/user" class="btn btn-success">管理</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <h5 class="card-header">作成コード</h5>
                    <div class="card-body text-center">
                        <% if(config.createAuth){ %>
                            <h5 class="card-title"><%= config.createKey %></h5>
                            <p class="card-text text-muted">このコードを利用してアカウントを作成できます</p>
                        <% }else{ %>
                            <h5 class="card-title">有効化されていません</h5>
                            <p class="card-text text-muted">設定ファイルから有効化できます</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <%- include("../layout/footer"); %>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>